#!/bin/sh
{{ ansible_managed | comment }}
# XFCE session for the TigerVNC display. Started by code-factory-vnc.service.

unset SESSION_MANAGER
unset DBUS_SESSION_BUS_ADDRESS

if [ -r "$HOME/.Xresources" ]; then
    xrdb "$HOME/.Xresources"
fi

exec dbus-launch --exit-with-session startxfce4
